.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-box {
    flex: 1;
    margin: 2px;
    opacity: 0.97;
}

.right-box {
    padding: 20px;
    margin-right: 55px;
    margin-left: 20px;
    opacity: 0.97;
    background-color: #5f6487;
}

.info-box {
    border-radius: 10px;
    background-color: #040C52;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.center-box {
    flex: 2;
    text-align: center;
}
.next-block-box, .control {
    text-align: center;
    margin: 15px 10px 35px 10px;
    background-color: #32168f;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
}

.next-block-box{
    height: 500px;
}

#game_next_piece{
    margin: 50px;
}

.menu-box {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

label, h2{
    color: #f0f0f0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    background-color: #45548B;
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 30px;
}
.button {
    align-content: center;
    width: 300px;
    height: 40px;
    font-size: 25px;
    background-color: #1A258B;
    color: white;
    display: inline-grid;
    border-radius: 10px;
    margin: 15px 5px 25px 5px;
    text-decoration: none;
}
.button:hover {
    background-color: #0e6ead;
    cursor: grab;
}
#logo{
    width: 300px;
    height: 140px;
    margin-bottom: 10px;
}
#tetris{
    width: 80%;
    height: 99vh;
}
#proxbloc{
    width: 120px;
    height: 120px;
}
#pause{
    border-radius: 85px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: grab;
}
#controles{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}