.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-box {
    padding: 4px;
    margin: 0 30px 0px 30px;
    opacity: 0.97;
    background-color: #5f6487;
    background-color: #b7c0f3;
}

.right-box {
    padding: 20px;
    margin-right: 55px;
    margin-left: 20px;
    opacity: 0.97;
    background-color: #5f6487;
}

.info-box {
    border-radius: 10px;
    background-color: #040C52;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.center-box {
    flex: 2;
    text-align: center;
}

.border-fix{
    padding: 1%; 
    background-color: #32168f;
}

.game-window{
    width: 100%;
    height: 100%;
}

.next-block-box, .control {
    padding: 10px;
    text-align: center;
    margin: 15px 10px 35px 10px;
    background-color: #32168f;
    border-radius: 10px;
}

.menu-box {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

label, h2{
    color: #f0f0f0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

p{
    background-color: #45548B;
    color: #f0f0f0;
    border-radius: 4px;
    padding: 4px;
    font-size: 30px;
}

#logo{
    width: 20vw;
    height: 23vh;
    margin-bottom: 20px;
}

#tetris{
    width: 45vw;
    height: 100vh;
}

#proxbloc{
    width: 15vw;
}

#pause{
    border-radius: 85px;
    width: 7vw;
    margin-bottom: 10px;
    cursor: grab;
}

#controles{
    width: 18vw;
    height: 16vh;
    margin-top: 20px;
}