.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-box {
    padding: 4px;
    margin: 0 30px 0px 30px;
    opacity: 0.97;
    background-color: #5f6487;
}

.right-box {
    padding: 20px;
    margin-right: 55px;
    margin-left: 20px;
    opacity: 0.97;
    background-color: #5f6487;
}

.info-box {
    border-radius: 10px;
    background-color: #040C52;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.center-box {
    flex: 2;
    text-align: center;
}

.border-fix{
    padding: 1%; 
    background-color: #32168f;
}

.game-window{
    width: 100%;
    height: 100%;
}

#game_overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#game_overlay_text{
    width: 60%;
    align-self: center;
    padding: 5%;
    border-radius: 100px;
}

#game_overlay_button{
    display: none;
    font-size: 30px;
    width: 70%;
    align-self: center;
    margin: 20px 0;
    padding: 5%;
    border-radius: 100px;
    border: 0;
    background-color: #45548B ;
    color: #f0f0f0
}

.next-block-box, .control {
    padding: 10px;
    text-align: center;
    margin: 15px 10px 35px 10px;
    background-color: #32168f;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
}

.menu-box {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

label, h2{
    color: #f0f0f0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

p{
    background-color: #45548B;
    color: #f0f0f0;
    border-radius: 4px;
    padding: 4px;
    font-size: 30px;
}

#logo{
    width: 20vw;
    height: 23vh;
    margin-bottom: 20px;
}

#game_next_piece{
    padding: 2px;
    width: 18vw;
    height: 25vh;
}

#game_pause{
    border-radius: 85px;
    width: 6vw;
    margin-bottom: 10px;
    cursor: grab;
}

#controles{
    width: 18vw;
    height: 16vh;
    margin-top: 20px;
}