html, body, p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; 
    z-index: -1;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.left-box {
    flex: 1;
    padding: 6px;
    margin: 50px 30px 0px 30px;
}
.right-box {
    flex: 1;
    padding: 10px;
    margin-right: 55px;
}
.info-box {
    border-radius: 10px;
    background-color: #040C52;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.info-box h2 {
    margin-top: 0;
}
.center-box {
    flex: 2;
    text-align: center;
}
.next-block-box, .control {
    padding: 10px;
    text-align: center;
    margin: 15px 10px 35px 10px;
    background-color: #32168f;
    border-radius: 10px;
}
.menu-box {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
h2{
    color: #f0f0f0;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    background-color: #45548B;
    color: #f0f0f0;
    border-radius: 10px;
    font-size: 30px;
}
.button {
    align-content: center;
    width: 300px;
    height: 40px;
    font-size: 22px;
    background-color: #1A258B;
    color: white;
    display: inline-grid;
    border-radius: 10px;
    padding: 5px;
    margin: 25px 5px 25px 5px;
    text-decoration: none;
}
#logo{
    width: 20vw;
    height: 23vh;
    margin-bottom: 20px;
}
#tetris{
    width: 40vw;
    height: 99vh;
}
#proxbloc{
    width: 15vw;
}
#pause{
    border-radius: 85px;
    width: 7vw;
    margin-bottom: 10px;
}
#controles{
    width: 15vw;
    height: 15vh;
    margin-top: 20px;
}