.menu {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin: 10px 3px 3px;
}
.pop-up{
    background-color: #040C52;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    width: 270px;
}
.info,p{
    font-size: 25px;
    text-align: center;
    color: #f0f0f0;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.lbl{
    color: #ffffff;
    background-color: #1A258B;
    padding: 5px 15px;
}
#logout{
    background-color: #6572E3; 
}
.checkboxes {
    background-color: #1A258B;
    display: inline-block;
    border-radius: 10px;
    width: 100%;
}
.toggle {
   color: #ffffff;
   margin: 1px 1px 6px;
}
.toggle > input {
    display: none;
}
.toggle > label {
    right: -20px;
    position: relative;
    height: 20px;
    width: 54px;
    background: #e00f0f;
    border-radius: 100px;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s ease;
}
.toggle > label:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 29px;
    height: 26px;
    border-radius: 100px;
    background: #ebdfdf;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.toggle > label:active:after {
    transform: scale(1.15, 0.85);
}
.toggle > input:checked ~ label {
    background: #02ee5c;
}
.toggle > input:checked ~ label:after {
    left: 30px;
    background: #ebdfdf;
}
