html, body, p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    height: 100vh;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; 
    z-index: -1; 
}
.table{
    background-color: #6b74c3;
    display: inline-block;
    border-radius: 10px;
    width: 86vw;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: silver;
}
th, td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #ecc0c0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
nav{
    float: left;
    width: 50%;
    align-items: center;
    display: table;
}
h1{
    background-color: darkgrey;
    color: black;
    border-radius: 50px;
    width: 55vw;
    display: inherit;
}
h2{
    background-color: darkgrey;
    color: black;
    border-radius: 50px;
    width: 20vw;
    display: inherit;
}
.botao{
    place-items: center;
    color: #1A258B;
}
.botaorank{
    place-items: center;
    color: #1A258B;
    align-items: end;
    display: table-cell;
}
.button {
    align-content: center;
    width: 285px;
    height: 40px;
    font-size: 22px;
    background-color: #1A258B;
    color: white;
    display: inline-grid;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    text-decoration: none;
}
.btrank {
    align-content: center;
    width: 285px;
    height: 40px;
    font-size: 22px;
    background-color: #6572E3;
    color: white;
    display: inline-grid;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    text-decoration: none;
}