.table{
    background-color: #6b74c3;
    display: inline-block;
    border-radius: 10px;
    width: 86vw;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: silver;
}
th, td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #ecc0c0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
nav{
    float: left;
    width: 50%;
    align-items: center;
    display: table;
}
h1{
    background-color: darkgrey;
    color: black;
    border-radius: 50px;
    width: 55vw;
    display: inherit;
    margin: 8px;
}
h2{
    background-color: darkgrey;
    color: black;
    border-radius: 50px;
    width: 20vw;
    display: inherit;
    margin: 8px;
}

.botaorank{
    place-items: center;
    color: #1A258B;
    align-items: end;
    display: table-cell;
}

.btrank {
    align-content: center;
    width: 285px;
    height: 40px;
    font-size: 22px;
    background-color: #6572E3;
    color: white;
    display: inline-grid;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    text-decoration: none;
}
