.logo img {
    width: 45vw;
    height: 50vh;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    align-items: center;
}
#logoMenor {
    width: 36vw ;
    height: 24vh;
    border-radius: 10px;
    text-align: center;
}
.input-form{
   height: 16px;
    padding: 3px 10px;
    text-align: center;
    font-size: 20px;
    margin: 5px 1px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input[disabled] {
    background-color: #f7f7f7;
    cursor: not-allowed;
    width: 360px;
    height: 18px;
}
.fa-lock{
    color: rgb(255, 0, 0);
}